* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #fff;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #d34040;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  border: 1px solid #fff;
  padding: 8px 24px;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid #d34040;
  background-color: #d34040;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.header-logo img {
  margin-top: -70px;
  width: 250px;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 16px;
    font-size: 34px;
  }
  .header-logo img {
    width: 160px;
    margin-top: 46px;
  }
  .header-button {
    display: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../assets/vida-noturna-com-pessoas-dancando-em-uma-boate.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.hero {
  color: #fff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 46px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}

.act-button {
  padding: 14px 28px;
  color: #fff;
  background-color: #d94140;
  border: 0;
  font-size: 18px;
  font-weight: 600px;
  margin: 14px 0;
}

.act-button:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 34pz;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
}
.about {
  background-color: #06121e;
  overflow: hidden;
  color: #fff;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}
.about-content img {
  max-width: 570px;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}
.functions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.functions h1 {
  margin-bottom: 70px;
  color: #fff;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.card-body .card-title, .card-body .card-text {
  color: #fff;
}

.card-img-top {
  width: 250px;
  height: 200px;
}

@media screen and (max-width: 768px) {
  .card {
    margin-bottom: 30px;
  }
}
.benefit {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.benefit i {
  margin-right: 10px;
  font-size: 30px;
  color: #d94140;
}

section .center {
  margin-top: 100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

em {
  color: #b42b2b;
}

.carousel-control-next {
  margin: 0 3em;
}

i.fa-arrow-right,
i.fa-arrow-left {
  background: none;
  border: 2px solid #b42b2b;
  color: #b42b2b;
  padding: 10px;
  border-radius: 100%;
  transition: background 0.6s ease;
}

i.fa-arrow-right:hover,
i.fa-arrow-left:hover {
  background: #d34040;
  color: #fff;
}

.carousel-indicators {
  justify-content: flex-start;
  transform: translate(-40px, 50px);
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #b42b2b;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: #d34040;
}

.control-btn {
  position: absolute;
  top: 8px;
  right: 10em;
}

.carousel-control-next,
.carousel-control-prev {
  top: 1em;
  left: 3em;
}

.testimonial-text {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.wow {
  position: relative;
  grid-column: span 2;
}

.carousel-landmark {
  grid-column: span 3;
}

@media screen and (max-width: 576px) {
  .testimonial-text {
    margin-top: 50px;
    row-gap: 50px;
  }
  .wow {
    grid-column: span 5;
  }
  .carousel-landmark {
    grid-column: span 5;
  }
}
.button-notclick {
  color: #d94140 !important;
}

.button-testimonial {
  background-color: #d94140 !important;
  border-color: #b42b2b;
}

.button-testimonial:hover {
  border-color: #d34040 !important;
  color: #fefbff;
}

.quote-color::before {
  color: #d94140;
}

.border-primary {
  border-color: #d94140 !important;
}

.ps-3 h5 {
  color: #edeaef;
}
.ps-3 span {
  color: #edeaef;
}

.mb-4 {
  color: #edeaef;
}

.textimal-text {
  color: #fefbff;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .present {
  color: #fefbff;
  margin-top: 50px;
  margin-bottom: 50px;
}

#panel h2 {
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

.group {
  position: relative;
  margin-bottom: 35px;
}

input {
  font-size: 18px;
  padding: 5px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
}

input:focus {
  outline: none;
}

label {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #fff;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
  from {
    background: #fff;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.btn-warning {
  background-color: #161617;
  border-color: #b42b2b;
  color: #edeaef;
}

.btn-warning:hover {
  background-color: #353436;
  border-color: #d34040;
  color: #fefbff;
}

.decoration {
  margin-bottom: -100px;
  z-index: 999;
  max-width: 200px;
}

#panel {
  border: 1px solid #edeaef;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
  background: -webkit-linear-gradient(90deg, #b42b2b 0%, #d34040 100%);
  background: #d94140;
  background: linear-gradient(90deg, #b42b2b 0%, #d34040 100%);
  border-radius: 4px;
  top: 50px;
}

.footer {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  background: linear-gradient(#06121e, #0c2135, #b42b2b);
}

.column_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_footer img {
  width: 200px;
  height: 200px;
}

.social_media a {
  margin: 10px;
}

.contactus {
  margin-top: 30px;
}
.contactus h3, .contactus p {
  color: #fff;
}

.terms {
  display: flex;
  justify-content: end;
  align-items: end;
}
.terms a {
  margin-top: 200px;
  color: #fefbff;
  text-align: end;
}

@media screen and (max-width: 768px) {
  .footer {
    justify-content: center;
    align-items: center;
    display: column;
    flex-wrap: wrap;
  }
  .terms a {
    margin-top: 50px;
  }
}
body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #06121e;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */